* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #3B2723;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    position: sticky;
    top: 0;
    z-index: 100;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
}

#logo{
    color: #CFA838;
    font-size: 1.2rem;
    text-decoration: none;
}

#menu-mobile {
    display: none;
    background-color: #3B2723;
    padding: 16px 20px;
}

#menu-mobile ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 8px 0;
}

#menu-mobile a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

#menu-mobile.aberto {
    display: block;
}

.nav-links { /* Esconde os links no mobile */
    display: none;
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    color: #c9a84c;
}

.nav-icons {
    display: flex;
    gap: 16px;
}

#btn-carrinho, #btn-menu {
    color: white;
    cursor: pointer;
    padding: 7px;
}

#btn-carrinho:hover, #btn-menu:hover{
    background-color:#c9a84c3d;
    border-radius: 10px;
}
/*------------------ section hero ------------------------*/
#hero {
    background: 
    radial-gradient(
        circle at 25% 40%,
        rgba(92, 70, 55, 0.35) 0%,
        rgba(92, 70, 55, 0.15) 30%,
        transparent 60%
    ),
    linear-gradient(
        to right,
        #4A332B 30%,
        #3B2723 65%,
        #2B1C18 100%
    );
    min-height: calc(100vh - 70px); /* desconta o header */
    display: flex;
    flex-direction: column;
    padding: 35px 20px 15px;
    gap: 32px; /* espaço entre os elementos */
    align-items: center;
}

#hero img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
}

.hero-texto {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;  
}

#titulo {
    color: #CFA838;
    font-weight: lighter;
}

#sub-titulo {
    color: #DDD7C6;
}

#btn-pedir {
    text-decoration: none;
    color: #4A332B;
    background-color: #CFA838;;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    text-align: center;

}
/*---------------- Categorias -----------------*/
#categorias {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#titulo-categorias {
    color: #3B2723;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 20px 0px;
    text-align: center;
}

#grade-categorias {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    width: 100%;
    margin-top: 16px;
}

.card-categoria {
    background-color: #4A332B;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    font-size: 1rem;
    transition: transform 0.2s ease;
}

.card-categoria:hover {
    background-color: #3B2723;
    transform: scale(1.05);
    transition: transform 0.2s ease;
}

.card-categoria.ativo {
    border: 3px solid #CFA838;
}

/*-----------------------Produtos----------------*/
#produtos {
   display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 20px;
}

#produtos-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

#titulo-produtos {
    color: #3B2723;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 20px 0px;
}

#ver-todos {
    color: #CFA838;
    text-decoration: none;
}

#grade-produtos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    width: 100%;
    margin-top: 16px;
}

.card-produto {
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-produto img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    transition: transform 0.2s ease;
}

.card-produto img:hover{
    transform: scale(1.05);
    transition: transform 0.2s ease;
}

.card-info {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-info h3 {
    color: #3B2723;
    font-size: 1.1rem;
}

.card-estrelas {
    color: #CFA838;
    font-size: 0.9rem;
    display: flex;
    gap: 6px;
    align-items: center;
}

.card-estrelas span:last-child {
    color: #888;
}

.card-rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.card-preco {
    color: #3B2723;
    font-size: 1.2rem;
    font-weight: bold;
}

.btn-adicionar {
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CFA838;
    color: #4A332B;
    padding: 8px;
    border-radius: 50%;
    border: none;
}

.btn-adicionar:hover{
    background-color: #b08b1b;
}











/*=========== Desktop (a partir de 768px) ============== */
@media (min-width: 768px) {
    nav{
        padding: 30px 32px;
    }

    #logo {
        font-size: 2rem;
    }

    /* Esconde o hambúrguer no desktop */
    #btn-menu {
        display: none;
    }

    /* Mostra os links no desktop */
    .nav-links {
        display: flex;
        gap: 32px;
    }

    .nav-links a{
        font-size: 1.2rem;
    }

    .nav-icons {
        padding: 0 20px;
        font-weight: 500;
    }
    /*--------- section hero -----------*/
    #hero {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 60px 80px;
        min-height: calc(100vh - 98px); 
    }

    #hero img {
        width: 45%;
        height: auto;
        object-fit: unset; 
        max-height: 500px;
    }

    #hero .hero-texto {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: flex-start;
        text-align: left;
    }

    #titulo {
        font-size: 4rem;
    }

    #sub-titulo{
        font-size: 1.8rem;
    }

    #btn-pedir {
        width: auto;
        padding: 15px 35px;
        font-size: 1.1rem;
    }

    #btn-pedir:hover {
        background-color: #b08b1b;
    }

    /*---categoria---*/
    #grade-categorias {
        grid-template-columns: repeat(4, 1fr);
        max-width: 1200px;
    }

    #titulo-categorias {
        font-size: 2rem;
    }

    .card-categoria {
    font-size: 1rem;
}

    .card-categoria .material-symbols-outlined {
        font-size: 2rem;
    }

    .card-categoria.ativo {
    border: 5px solid #CFA838;
}

    /*-------produtos-----*/
    #grade-produtos {
    grid-template-columns: repeat(3, 1fr);
}

#produtos {
    padding: 40px 80px;
}
}